*.DS_Store
*-checkpoint.ipynb
*.pyc
*.log
*.ptn
NLU/main_BERT/chinese_L-12_H-768_A-12/*
NLU/main_BERT/bert-base-chinese-pytorch/*
NLU/data/cmn_CHN/*.txt
NLU/main_Transformer/data/*.txt
NLU/main_Transformer/data/*.json
NLU/main_BERT/data/*
NLU/data/*.txt
NLU/data/*.json
NLU/main_Transformer/data/reports_*/*
BERT/BERT_Torch.ipynb
BERT/BERT-Torch.py
VAE_NLG/model/vae_nlg_inference_model.tar
VAE_NLG/model/vae_nlg_full_model.tar
VAE_NLG/data/w2v
VAE_NLG/data/vae_nlg.pt
VAE_NLG/data/poem
Transformer/transformer_pre.py
Transformer/Transformer(Greedy_decoder)-Torch.py
NLU/data/w2v
NLU/data/train/tags.txt
NLU/data/train/sentences.txt
NLU/data/corpus_no_slots/car-unknown-def.txt
NLU/data/corpus_no_slots/car-unknown-def_BOI.txt
NLU/data/data_214.zip
NLU/data/data_nav_media/data.txt
NLU/data/data_nav_media/data_less.txt
NLU/main_BERT/experiments/base_model/best.pth.tar
NLU/main_Transformer/data/pre_w2v
NLU/main_Transformer/data/report
NLU/main_Transformer/data/Transformer_NLU_best.pyt
NLU/main_Transformer/model_pre.py
*.zip
NLU/data/cmn_CHN-word/*.txt
NLU/data/data*
NLU/main_Transformer/data*
NLU/main_Transformer/archive/*
Transformer/transformer_encoder.onnx
ChatBot/chatbot_data/make_data.py
NER/main_BERT/bert-base-chinese-pytorch/bert_config.json
NER/main_BERT/bert-base-chinese-pytorch/pytorch_model.bin
NER/main_BERT/bert-base-chinese-pytorch/vocab.txt
NER/main_BERT/experiments/base_model/evaluate.log
NER/main_BERT/experiments/base_model/train.log
NER/NER_data/build_msra_dataset_tags.py
NER/NER_data/make_data.py
NER/NER_data/MSRA/dev/sentences.txt
NER/NER_data/MSRA/dev/tags.txt
NER/NER_data/MSRA/tags.txt
NER/NER_data/MSRA/test/sentences.txt
NER/NER_data/MSRA/test/tags.txt
ChatBot/save/chatbot_model/core_reduced/2-2_500/3500_checkpoint.tar
ChatBot/save/chatbot_model/core_reduced/2-2_500/4000_checkpoint.tar
NER/NER_data/archived/ChineseNER
NER/NER_data/archived/Date
NER/NER_data/archived/Engine
NER/NER_data/archived/example.dev
NER/NER_data/archived/example.test
NER/NER_data/archived/example.train
NER/NER_data/archived/Head_Lights
NER/NER_data/archived/Link_Drive
NER/NER_data/archived/Tank
NER/NER_data/archived/VoiceControl
NER/NER_data/archived/Windscreen_Wiper
