*.DS_Store
*-checkpoint.ipynb
*.pyc
*.log
*.ptn
NLU/main_BERT/chinese_L-12_H-768_A-12/*
NLU/main_BERT/bert-base-chinese-pytorch/*
NLU/data/cmn_CHN/*.txt
NLU/main_Transformer/data/*.txt
NLU/main_Transformer/data/*.json
NLU/main_BERT/data/*
NLU/data/*.txt
NLU/data/*.json
NLU/main_Transformer/data/reports_*/*
BERT/BERT_Torch.ipynb
BERT/BERT-Torch.py
VAE_NLG/model/vae_nlg_inference_model.tar
VAE_NLG/model/vae_nlg_full_model.tar
VAE_NLG/data/w2v
VAE_NLG/data/vae_nlg.pt
VAE_NLG/data/poem
Transformer/transformer_pre.py
Transformer/Transformer(Greedy_decoder)-Torch.py
NLU/data/w2v
NLU/data/train/tags.txt
NLU/data/train/sentences.txt
NLU/data/corpus_no_slots/car-unknown-def.txt
NLU/data/corpus_no_slots/car-unknown-def_BOI.txt
NLU/data/data_214.zip
NLU/data/data_nav_media/data.txt
NLU/data/data_nav_media/data_less.txt
NLU/main_BERT/experiments/base_model/best.pth.tar
NLU/main_Transformer/data/pre_w2v
NLU/main_Transformer/data/report
NLU/main_Transformer/data/Transformer_NLU_best.pyt
NLU/main_Transformer/model_pre.py
*.zip
NLU/data/cmn_CHN-word/*.txt
NLU/data/data*
NLU/main_Transformer/data*
NLU/main_Transformer/archive/*
Transformer/transformer_encoder.onnx
