*.DS_Store
*-checkpoint.ipynb
*.pyc
*.log
*.ptn
NER/main_BERT/chinese_L-12_H-768_A-12/*
NER/main_BERT/bert-base-chinese-pytorch/*
NER/data/cmn_CHN/*.txt
NER/main_Transformer/data/*.txt
NER/main_Transformer/data/*.json
NER/main_BERT/data/*
NER/data/*.txt
NER/data/*.json
NER/data/cmn_CHN/auto_only-nav-waypoint_BOI.txt
NER/main_BERT/data/DataSentence.txt
BERT/BERT_Torch.ipynb
BERT/BERT-Torch.py
VAE_NLG/model/vae_nlg_inference_model.tar
VAE_NLG/model/vae_nlg_full_model.tar
VAE_NLG/data/w2v
VAE_NLG/data/vae_nlg.pt
VAE_NLG/data/poem
Transformer/transformer_pre.py
Transformer/Transformer(Greedy_decoder)-Torch.py
NER/data/w2v
NER/data/train/tags.txt
NER/data/train/sentences.txt
NER/data/cmn_CHN/auto_only-nav-waypoint_BOI.txt
NER/data/corpus_no_slots/car-unknown-def.txt
NER/data/corpus_no_slots/car-unknown-def_BOI.txt
NER/data/data_214.zip
NER/data/data_nav_media/data.txt
NER/data/data_nav_media/data_less.txt
NER/data/nav.txt
NER/main_BERT/data/DataSentence.txt
NER/main_BERT/experiments/base_model/best.pth.tar
NER/main_Transformer/data/pre_w2v
NER/main_Transformer/data/reports_0605.zip
NER/main_Transformer/data/reports_0605/Config.json
NER/main_Transformer/data/reports_0605/dict.json
NER/main_Transformer/data/reports_0605/dict_clsf.json
NER/main_Transformer/data/reports_0605/dict_lbl.json
NER/main_Transformer/data/reports_0605/reports_correct.txt
NER/main_Transformer/data/reports_0605/reports_intent_error.txt
NER/main_Transformer/data/reports_0605/reports_slot_error.txt
NER/main_Transformer/data/reports_0608/reports_correct.txt
NER/main_Transformer/data/reports_0608/reports_intent_error.txt
NER/main_Transformer/data/reports_0608/reports_slot_error.txt
NER/main_Transformer/data/reports_0608/scores.txt
NER/main_Transformer/data/reports_0608_Topic214.zip
NER/main_Transformer/data/Transformer_NER_best.pyt
NER/main_BERT/data/DataSentence.txt
NER/data/nav.txt
NER/data/cmn_CHN/auto_only-nav-waypoint_BOI.txt
NER/main_Transformer/model_pre.py
NER/data/nav.txt
NER/data/cmn_CHN/auto_only-nav-waypoint_BOI.txt
